.custon_file_input{
    height: 58px;
}
.custon_file_input::file-selector-button {
    height: 58px;
  }
.cust_pay{
    cursor: pointer;
}
.dataTables_length{
    margin-left: 20px !important;
}
.dataTables_filter{
    margin-right: 20px !important;
}
.dataTables_paginate{
    margin: 0px 20px 20px 0px !important;
}